* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: Poppins, sans-serif;
}

:root {
  --green: #07d600;
  --darkgreen: #059100;
  --babyblue: #00FFFF;
}

@font-face {
  font-family: Poppins;
  src: url(/Assets/fonts/POPPINS-REGULAR.TTF);
}


.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/Assets/imgs/frog1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.question {
  opacity: 90%;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  color:white;
  background-color: var(--green);
  border: 2rem;
  padding: 2rem;
  border-radius: 100px;
  height: 12%;
  width: 75%;
  position: fixed;
  top: 10%;
  z-index: 2;
}

.answer {
  opacity: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  color:white;
  background-color: var(--green);
  border: 2rem;
  padding: 2rem;
  border-radius: 100px;
  height: 50%;
  width: 75%;
  position: fixed;
  top: 28%;
  z-index: 2;
}

.choice-list {
  position: absolute;
  left: 12%;
  text-align: center;
  z-index: 3;
}

.c1, .c2, .c3, .c4 {
  text-align: center;
  display: flex;
  background-color: var(--darkgreen);
  margin: 25px;
  padding: 12px;
  border-radius: 33px;
}