* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: Poppins, sans-serif;
}

:root {
  --green: #07d600;
  --darkgreen: #059100;
  --babyblue: #00FFFF;
}

@font-face {
  font-family: Poppins;
  src: url(/Assets/fonts/POPPINS-REGULAR.TTF);
}


.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/Assets/imgs/frog1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  /* opacity: 50%; */
}

.question {
  opacity: 100%;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  color:white;
  background-color: var(--green);
  border: 2rem;
  padding: 2rem;
  border-radius: 100px;
  height: 100px;
  width: 800px;
  position: fixed;
  top: 8%;
}

.answer {
  opacity: 100%;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  color:white;
  background-color: var(--green);
  border: 2rem;
  padding: 2rem;
  border-radius: 100px;
  height: 500px;
  width: 800px;
  position: fixed;
  top: 25%;
}